# Programming language
language: java

### Maven basic build ###
# Build project, installing to local repo (skip testing and javadoc generation (if those exist))
install:
# Give required permissions to used shell scripts
- chmod +x ./install-git-dependencies.sh
- ./install-git-dependencies.sh
# Normal build part
- mvn clean install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
jobs:
  # Test project against multiple JDK versions and then deploy
  include:
    - stage: test
      jdk: openjdk8
      script: mvn -q verify
    - stage: test
      jdk: oraclejdk8
      script: mvn -q verify

      # 2. Deploy
    - stage: deploy
      if: repo = JarvisCraft/minecraft-utils AND type != pull_request
      jdk: openjdk8
      script:
      - chmod +x ./deploy.sh
      - chmod +x ./project-version.sh
      - chmod +x ./.travis/perform-deploy.sh
      - ./deploy.sh

# Cached directories
cache:
  directories:
  - ~/.m2/repository